<h1>Pirate</h1>
<p>Pirate Name: <%= @new_pirate.name %>
<p>Pirate Weight: <%= @new_pirate.weight %>
<p>Pirate Height: <%= @new_pirate.height %>
<br>
<br>
<h2>Ship 1</h2>
<p>Ship 1 Name: <%= @ships[0].name %>
<p>Ship 1 Type: <%= @ships[0].type %>
<p>Ship 1 Booty: <%= @ships[0].booty %>

<h2>Ship 2</h2>
<p>Ship 2 Name: <%= @ships[1].name %>
<p>Ship 2 Type: <%= @ships[1].type %>
<p>Ship 2 Booty: <%= @ships[1].booty %>
